body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background:linear-gradient(to right,rgb(252, 228, 184),rgb(248, 196, 204)) ;
}

header {
    background-color: rgb(236, 93, 117);
    color: #fff;
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    padding: 10px;
    display: block;
}
.menu-bar{
    width: 40px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,rgb(238, 203, 139),rgb(245, 154, 169));
}
.main-content{
    width: 50%;
    padding: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.main-content div{
    padding: 13px 20px;
}
.main-img{
    width: 50%;
    margin: 0 auto;

}
.main-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.btn{
    border: none;
    background-color: rgb(224, 77, 126);
    color: white;
    padding: 10px 60px;
}
a{
    text-decoration: none;
    color: rgb(252, 228, 184);
}
.flex a{
    color: black;
    font-size: medium;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
    background:linear-gradient(to right,rgb(252, 228, 184),rgb(248, 196, 204));
}
.grid-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 0vw 15vh 15vw;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.grid-item {
    height: 200px;
    width: 18vw;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item.span-two {
    height: 410px;
    grid-row: span 2;
}
.section-content{
    width: 50%;
    padding: 7% 7% 7% 0%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-content div{
    padding: 12px 16px;
}
.content{
    background-color: rgb(245, 89, 115);
}
.flex{
    display: flex;
    gap: 10px;
    align-items: center;
}
.flex div{
    padding: 5px;
    margin: 0px;
}
.flex div img{
    padding-top: 5px;
}
.content{
    margin: 50px;
}
#lorem-h{
    font-size: 2.5rem;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .main-container{
    
    }
    .section-container{

    }
    .grid-container {
        width: 80%; 
    }
    .grid-item {
        height: 20vh; 
        width: 40vw; 
    }

    .grid-item.span-two {
        grid-row: auto; 
    }
}
@media screen and (max-width: 480px) {
    .main-container{
        display:flex ;
        flex-direction: column;
    }
    .section-container{
        display: flex;
        flex-direction: column;
    }
    .grid-container {
        width: 90%; 
    }

    .grid-item {
        height: 15vh; 
        width: 80vw; 
    }
}